.catalogContainer {
    display: flex;
    width: 100%;
    padding: 100px 8%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catalogContainer h1 {
    font-size: 60px;
    margin-bottom: 30px;
    color: #087D77;
    font-family: "Bebas Neue", sans-serif;

}

.catalogContainer p{
    text-align: center;
}

.catalogContent{
    display: flex;
    width: 100%;
}

.catalogContentSelector{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#catalogButtonSelected{
    color: white;
    background-color: #087D77;
    border-radius: 15px;
    border: none;
    padding: 10px;
    margin: 10px 0px;
    font-size: 18px;
    width: 200px;
}

#catalogButton{
    color: #087D77;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #087D77;
    padding: 10px;
    margin: 10px 0px;
    font-size: 18px;
    width: 200px;
}


.catalogContentSelector h3{
    font-weight: bolder;
}

.catalogContentData{
    display: flex;
    width: 70%;
    padding-left: 20px;
    margin-top: 50px;
}

.catalogContentImage{
    width: 50%;
    margin-right: 20px;
}

.catalogContentImage img{
    width: 100%;
}

.catalogContentText{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogContentText p{
    text-align: left;
    
}

.catalogContentText h3{
    font-weight: bolder;
    color: #087D77;
    font-family: "Bebas Neue", sans-serif;
    text-align: left;
}

.catalogContentText a{
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    color: white;
    background-color: #087D77;
    border-radius: 15px;
    text-align: center;
    width: 180px;
    padding: 10px;
}