.carouselBlogContainer {
    display: flex;
    width: 100%;
    padding: 100px 15%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carouselBlogContent{
    margin-bottom: 30px;
}

.carouselBlogContainer h1 {
    font-size: 60px;
    margin-bottom: 30px;
    color: #087D77;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}



.carouselBlogContainer p {
    text-align: center;
    margin-bottom: 30px;
}

.carouselBlogItem {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 60px;
    text-decoration: none;

}

.carouselPostBlog {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 30%; 
    max-width: 800px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.carouselPostBlog img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0; 
}

.carouselPostBlog h3 {
    font-size: 18px;
    padding: 10px;
    margin: 0;
    text-align: left;
    font-weight: bold;
    padding: 15px;
    color: black;
}

.carouselPostBlog p {
    padding: 15px;
    font-size: 14px;
    text-align: left;
}

.carouselPostBlog a {
    padding: 10px;
    color: #087D77;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    color: black;
}

.carouselPostBlog a img {
    width: 20px;
    margin-left: 10px;
}
