.solutionsContainer {
    width: 100%;
    padding: 100px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #087D77;
    justify-content: center;  /* Centraliza os itens na vertical */
    min-height: 100vh;        /* Garante que o contêiner ocupe toda a altura da tela */
}

.solutionsContainer h1 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}

.solutionsCardDeck {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Dois cards por linha */
    gap: 30px;
    width: 100%;
    justify-items: center;  /* Centraliza os cards horizontalmente */
    align-items: center;    /* Centraliza os cards verticalmente */
    max-width: 1200px;      /* Limita o tamanho máximo do contêiner */
    margin: 0 auto;         /* Centraliza o contêiner */
}

.solutionsCard {
    position: relative;
    width: 100%;
    max-width: 600px;  /* Limita a largura máxima dos cards */
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column; /* Para garantir que o conteúdo do card se ajuste */
}

.solutionsCardImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.solutionsCardText {
    text-align: center;
    color: white;
    z-index: 2;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 100%;  
    height: 100%; 
}

.solutionsCardText h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

.solutionsCardText p {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: white;
}
