.solutionsContainer {
    width: 100%;
    padding: 50px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #087D77;
    justify-content: center;
    min-height: 100vh;
    border-bottom: 30px solid white;
}

.solutionsContainer h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}

.solutionsCardDeck {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.solutionsCard {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

.solutionsCardImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.solutionsCardText {
    text-align: center;
    color: white;
    z-index: 2;
    padding: 20px;
    background-color: rgba(88, 85, 85, 0.8);
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.solutionsCardText h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

.solutionsCardText p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: white;
}

@media (max-width: 910px) {
    .solutionsCardDeck {
        grid-template-columns: 1fr;
    }

    .solutionsContainer {
        padding: 30px 10%;
    }

    .solutionsCard {
        height: 250px;
    }

    .solutionsCardText h2 {
        font-size: 28px;
    }

    .solutionsCardText p {
        font-size: 14px;
    }
}

@media (max-width: 770px) {
    .solutionsContainer {
        padding: 20px 5%;
    }

    .solutionsCard {
        height: 220px;
    }

    .solutionsContainer h1 {
        font-size: 40px;
    }

    .solutionsCardText h2 {
        font-size: 24px;
    }

    .solutionsCardText p {
        font-size: 13px;
    }
}