.navbarContainer {
    display: flex;
    background-color: #087D77;
    align-items: center;
    padding: 5px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    position: relative; 
}

.navbarContainer img {
    width: 65px;
}

.navbarLinks {
    display: flex;
    width: 100%;
    justify-content: space-evenly
}


.navbarCardLinks a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "Bebas Neue", sans-serif;
    position: relative;
}

.navbarCardLinks a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #EEC102;
    transition: width 0.3s ease;
}

.navbarCardLinks a.active {
    border-bottom: 2px solid #EEC102; 
}

.navbarCardLinks a:hover {
    color: #EEC102;
}

.navbarCardLinks a:hover::before {
    width: 100%;
}

.menuToggle {
    display: none;
    margin-left: auto; 
}

.menuToggle img {
    width: 30px;
}

@media (max-width: 768px) {
    .navbarLinks {
        display: none;
    }
    .menuToggle {
        display: flex;
        margin-right: 10px;
    }
}